extends base.pug

block content 
    section#introSection 
        div.big Lorem ipsum dolor sit amet.
        div.small Eat Sleep Dance Repeat
    
    section#missionSection 
        h1 Our Moto
        div.mainCard
            div.card
                h2 Lorem, ipsum dolor.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus atque velit natus dolores. Repudiandae, commodi vero libero natus excepturi non.
            div.card
                h2 Lorem ipsum dolor sit amet.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus atque velit natus dolores. Repudiandae, commodi vero libero natus excepturi non.
            div.card
                h2 Lorem, ipsum.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus atque velit natus dolores. Repudiandae, commodi vero libero natus excepturi non.
        
    
    section#sponsorsSection 
        h1 Our Sponsors
        div#sponsors
            img(src="../static/sponsors/asus.svg", alt="asus").spImage
            img(src="../static/sponsors/facebook.svg", alt="facebook").spImage
            img(src="../static/sponsors/linkedin.svg", alt="linkedin").spImage
            img(src="../static/sponsors/microsoft.png", alt="microsoft").spImage
